# --------------------------------------
# 定义统一的编码风格
# https://editorconfig.org
# --------------------------------------

# 编辑器配置文件
root = true

# --------------------------------------
# 定义统一编码风格
# --------------------------------------
# 1、设置默认字符集utf-8
# 2、缩进风格space
# 3、缩进的空格数2
# 4、结尾换行符 lf,用符号 \n 表示
# 5、在文件结尾插入新行
# 6、删除一行中的前后空格
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# --------------------------------------
# MD:定义统一编码风格
# --------------------------------------
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
